.xml
.idea
.idea/workspace.xml
.DS_Store
*/__pycache__git
.pyc
.iml

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
*/*/*/*/*/*/__pycache__/


biggan_discovery/*.sh
biggan_discovery/logs/
biggan_discovery/samples/
biggan_discovery/visuals/
biggan_discovery/weights/

progan_experiments/*.sh
progan_experiments/cache/
progan_experiments/datasets/*
progan_experiments/models/
progan_experiments/visuals/
progan_experiments/results/
progan_experiments/pairs/
progan_experiments/pretrained_models/*.pkl

simplegan_experiments/checkpoints/
simplegan_experiments/dataset/
simplegan_experiments/*.sh
simplegan_experiments/pretrained_models/*.pth
simplegan_experiments/visuals/
simplegan_experiments/.cog/